body{
    margin: 0;
    padding: 0;
    background-color: #ec6c4c;
}
@font-face {
    font-family: 'sequel 85';
    src: url('C:\\Users\\hp\\Desktop\\Professional-IT-School-1\\fonts\\Sequel100Black-85.ttf');
    font-weight: normal;
    font-style: normal;
}
.main{
    margin-top: 160px;
    padding-left: 60px;
}
.main h1{
    line-height: 82px;
    font-size: 72px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-family: "sequel 85";
}
.main h3{
    font-family: "sequel 85";
    color: white;
    font-size: 30px;
}
.leftcontact{
    width: 35%;
    padding-left: 60px;
}
.leftcontact h1{
    font-family: "sequel 85";
    font-size: 45px;
    color: white;
    padding-top: 40px;
}
.leftcontact img{
    display: inline;
    width: 5%;
    padding-right: 20px;
    padding-top: 20px;
}
.leftcontact a,p{
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
    color: white;
}
.leftcontact p{
    display: inline;
}
.leftcontact a:hover{
    border-bottom: 3px solid white;
}
.rightcontact{
    width: 35%;
    float: right;
    padding-right: 250px;
}
.rightcontact h1{
    font-family: "sequel 85";
    font-size: 45px;
    color: white;
    padding-top: 40px;
}
.rightcontact img{
    display: inline;
    width: 5%;
    padding-right: 20px;
    padding-top: 20px;
}
.rightcontact a,p{
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
    color: white;
}
.rightcontact p{
    display: inline;
}
.rightcontact a:hover{
    border-bottom: 3px solid white;
}

.contact{
    margin-bottom: 300px;
}
.help img{
    width: 100%;
    margin-bottom: -5px;
}
.helptxt{
    width: 100%;
}
.helptxt h1{
    font-family: "sequel 85";
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: -350px;
}
.helptxt h3{
    font-family: monospace;
    color: white;
    font-size: 19px;
    text-align: center;
}
.helptxt input{
    height: 45px;
    background-color: white;
    width: 300px;
    text-align: center;
    margin-left: 500px;
}
