body{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'sequel 85';
    src: url('C:\\Users\\hp\\Desktop\\Professional-IT-School-1\\fonts\\Sequel100Black-85.ttf');
    font-weight: normal;
    font-style: normal;
}
.imgbanner{
    margin-top: 80px;
}
.imgbanner img{
    width: 100%;
}
.imgbanner h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-top: -250px;
    font-size: 48px;
}
.imgbanner h4{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.imgbanner h2, h4{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-left: 200px;
}
.contact{
    height: 500px;
    background-color: rgb(1, 1, 88);
    display: flex;
    align-items: center;
}
.contact .form{
    height: 350px;
    box-shadow: 2px 2px 5px #000000;
    background-color: white;
    width: 900px;
    margin-left: 200px;
    margin-top: 90px;
}
.contact .form img{
    width: 27vw;
}
form{
    float: right;
}
form input{
    width: 170px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    margin-top: 60px;
    margin-right: 60px;
    background-color: rgb(219, 219, 219);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form button{
    background-color: rgb(255, 195, 83);
    padding: 10px;
    color: black;
    border: 1px solid rgb(182, 182, 0);
    margin-top: 70px;
    margin-left: 320px;
    width: 120px; 
}
.info{
    height: 400px;

}
.info h1{
    font-family: monospace;
    margin-top: 90px;
    padding-left: 150px;
    color: rgb(0, 33, 67);
}
.info dt, dd{
    font-size: 16px;
    padding-left: 150px;
    color: rgb(0, 33, 67);
    margin-top: 20px;
}
.info img{
    width: 40%;
    margin-right: 100px;
    float: right;
    margin-top: -330px;
}
/*
.main h1{
    line-height: 82px;
    font-size: 72px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-family: "sequel 85";
}
.main h3{
    font-family: "sequel 85";
    color: white;
    font-size: 30px;
}
.leftcontact{
    width: 35%;
    padding-left: 60px;
}
.leftcontact h1{
    font-family: "sequel 85";
    font-size: 45px;
    color: white;
    padding-top: 40px;
}
.leftcontact img{
    display: inline;
    width: 5%;
    padding-right: 20px;
    padding-top: 20px;
}
.leftcontact a,p{
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
    color: white;
}
.leftcontact p{
    display: inline;
}
.leftcontact a:hover{
    border-bottom: 3px solid white;
}
.rightcontact{
    width: 35%;
    float: right;
    padding-right: 250px;
}
.rightcontact h1{
    font-family: "sequel 85";
    font-size: 45px;
    color: white;
    padding-top: 40px;
}
.rightcontact img{
    display: inline;
    width: 5%;
    padding-right: 20px;
    padding-top: 20px;
}
.rightcontact a,p{
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
    color: white;
}
.rightcontact p{
    display: inline;
}
.rightcontact a:hover{
    border-bottom: 3px solid white;
}

.contact{
    margin-bottom: 300px;
}
.help img{
    width: 100%;
    margin-bottom: -5px;
}
.helptxt{
    width: 100%;
}
.helptxt h1{
    font-family: "sequel 85";
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: -350px;
}
.helptxt h3{
    font-family: monospace;
    color: white;
    font-size: 19px;
    text-align: center;
}
.helptxt input{
    height: 45px;
    background-color: white;
    width: 300px;
    text-align: center;
    margin-left: 500px;
}*/
