@font-face {
    font-family: 'sequel 85';
    src: url('C:\\Users\\hp\\Desktop\\Professional-IT-School-1\\fonts\\Sequel100Black-85.ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    margin-top: 90px;
}
.img-content{
    width: 50%;
    height: 100vh;
}
.img-content img{
    width: 100%;
    height: 100%;
}
.text-content{
    width: 50%;
    color: white;
    height: 100vh;
}
#text-content1{
    background-color: darkgreen;
}
.text-content h1{
    font-family: "sequel 85";
    margin-top: 60px;
    text-align: center;
    margin-top: 160px;
}
.text-content h3{
    font-family: monospace;
    padding: 30px 80px;
    font-size: 18px;
    line-height: 1.7;
}
#text-content2{
    background-color:  #892890;
    margin-top: -705px;
}
