*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.mySlides {
    display: none;
    margin-left: 7px;
}
img {
    vertical-align: middle;
}
.slideshow-container {
  max-width: 1000px;
  height: auto;
  position: relative;
  margin-top: 110px;
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}
.kurrikula-body{
    background-color: #ea3c12;
    height: 1800px;
    display: absolute;
}
.kurrikula-body h3{
    padding-bottom: 50px;
    padding-top: 50px;
    margin-left: 80px;
    color: white;
    font-size: 72px;
    margin-bottom: 0;
    font-family:'sequel 85';
}
.Kurrikula-right{
    margin-left: 120px;
    margin-top: 90px;
}
.Kurrikula-right img{
    width: 260px;
    margin-left: 400px;
}
.content1{
    display: flex;
    align-items: center;
}
.kurrikula-content-right{
    font-family: "sequel 85";
    font-weight: 500;
    font-size: 50px;
    color: white;
    margin-left: 556px;
    margin-right: 25px;
    margin-top: -250px;
}
.second-title{
    font-family: "sequel 85";
    font-size: 50px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
.Kurrikula-left{
    margin-top: 100px;
}
.kurrikula-content-left{
    font-family: "sequel 85";
    font-weight: 500;
    font-size: 50px;
    color: white;
    margin-left: 350px;
    margin-top: -290px;
}
.Kurrikula-left img{
    width: 270px;
    margin-left: 200px;
}
.about-body{
    margin-top: 50px;
    height: 500px;
}
.about-img{
    display: flex;
    justify-content: flex-end;
}
.about-img #llaptop{
    margin-top: 100px;
    margin-right: 130px;
    border-radius: 50%;
    display: inline;
}
.about-content{
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 30px;
    margin-top: -300px;
    width: 700px;
    text-align: center;
    padding-top: 50px;
    line-height: 1.9;
    font-size: 12pt;
    font-family: 'Poppins', sans-serif;
}
.about-content #readbttn{
    text-align: center;
    border: 2px solid #ea3c12;
    margin-top: 60px;
    font-family: 'Alegreya Sans SC';
    font-size: 13pt;
    padding: 10px 12px;
    cursor: pointer;
    width: 200px;
}
.gallery{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 800px;
    flex-wrap: wrap;
    background-image: linear-gradient(#ea3c12, #ec6c4c);  
    border-bottom: 1px solid #ea3c12;
    margin-top: 200px;
}
.gallery-photo{
    padding-top: 40px;
    width: 20.99999%;
    margin-left: 6px;
}
.gallery-photo img {
    width: 95%;
    height: auto;
    transform: .1s;
}
.gallery-photo img:hover {
    box-shadow: 1px 2px 9px #e26c4f;
    transform: scale(1.2);
}  

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@font-face {
      font-family: 'sequel 85';
      src: url('C:\\Users\\hp\\Desktop\\Professional-IT-School-1\\fonts\\Sequel100Black-85.ttf');
      font-weight: normal;
      font-style: normal;
  }

@media only screen and (max-width: 390px) and (max-height: 844px){
   .slideshow-container{
        width: 240%;
        margin-top: 210px;
   }
   .kurrikula-body{
        background-color: #ea3c12;
        width: 320%;
        height: 100%;
        
   }
   .about-body{
        width: 320%;
        height: 900px;
   }
   .about-content{
        width: 60%;
        height: 800px;
        padding: 20px 80px;
   }
   .about-content h2{
        font-size: 40px;
   }
   .about-content p {
        font-size: 30px;
   }
   .about-content #readbttn{
        font-size: 30px;
   }
   .gallery{
        width: 320%;
        height: 2000px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 500px;
   }
   .gallery-photo{
    width: 40.99999%;
   }
   .gallery-photo img{
        width: 100%;
   }
   footer{
    margin-top: 1000px;
    width: 320%;
   }
  
}