*{
    margin: 0;
    padding: 0;
}
.mainNews{
    width: 60%;
    float: left;
    margin-top: 120px;
    margin-left: 20px;
}
.mainNews img{
    width: 120%;
    height: 100%;
    box-shadow: 2px 3px 9px black;
}
.mainNews a{
    text-decoration: none;
}
.mainNews h3{
    font-family: "Gotham Ultra", sans-serif;
    color: white;
    margin-top: -50px;
    margin-left: 80px;
    font-size: 20px;
    text-shadow: 2px 2px 3px black;
}
.mainNews h3:hover{
    text-decoration: underline red 1px;
    color: rgb(247, 173, 173);
    
}
.sideNews{
    max-width: 25%;
    float: right;
    margin-top: 120px;
    margin-bottom: -100px;
    border-bottom: 1px solid rgb(138, 138, 138);
}
.sideNews img{
    width: 40%;
    margin-left: 20px;
    box-shadow: 2px 3px 9px rgb(82, 82, 82);
    margin-bottom: 30px;
}
.sideNews a{
    text-decoration: none;
    color: black;
    font-family: "Gotham Thin", sans-serif;
}
.sideNews h5{
    float: right; 
    width: 40%;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 15px;
}
.sideNews h5:hover{
    color: red;
    text-decoration: underline;
}
.news{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 700px;
    align-items: center;
}
.news a{
    text-decoration: none;
    color: black;
}
.news h3:hover{
    text-decoration: underline;
    color: red;
}
.newsContent{
    width: 30%;
    height: 70%;
    padding: 10px;
    box-shadow: 2px 2px 9px rgb(139, 139, 139);
}
.newsContent img{
    width: 100%;
}
.newsContent:hover{
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.newsContent h3{
    font-family: monospace;
    font-size: 20px;
    padding: 10px;
}
.newsContent h5{
    font-family: "Gotham", sans-serif;
    font-size: 16px;
    padding: 20px;
}
