*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#main-content{
    height: 1900px;
}
.img-container{
    margin-top: 115px;
    display: flex;
    justify-content: center;
    animation: fadeIn 2s;
}
.img-container img{
    width: 100%;
    
}
@font-face {
    font-family: 'sequel 85';
    src: url('C:\\Users\\hp\\Desktop\\Professional-IT-School-1\\fonts\\Sequel100Black-85.ttf');
    font-weight: normal;
    font-style: normal;
}
.text-container h1{
    margin-left: 575px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:white;
    font-family: "sequel 85";
    margin-top: -480px;
    font-size: 48px;
    animation: fadeIn 2s;
}

.text-container img{
    width: 30%;
    margin-left: 460px;
    cursor: pointer;
    margin-top: 30px;
    animation: fadeIn 2s;
}
.img-content{
    width: 50%;
    height: 100vh;
}
.img-content img{
    width: 100%;
    height: 100%;
}
.text-content{
    width: 50%;
    color: white;
    height: 100vh;
}
#text-content1{
    background-color: purple;
}
.text-content h1{
    font-family: "sequel 85";
    margin-top: 60px;
    text-align: center;
}
.text-content h3{
    font-family: monospace;
    padding: 30px 80px;
    font-size: 18px;
    line-height: 1.7;
}
#text-content2{
    background-color: indigo ;
    margin-top: -705px;
}
#text-content3{
    background-color: indianred;
}
.planprogrami-left{
    width: 100%;
    background-color: rgb(209, 126, 140);
    height: 70vh;
    padding-left: 100px;

}
.planprogrami-left h3,a{
    font-family: monospace;
}
.planprogrami-left h3,a{
    font-size: 20px;
}
.planprogrami-left h2{
    padding-top: 150px;
    font-family: "sequel 85";
}
.planprogrami-left img{
    float: right;
}
.planprogrami-right{
    width: 100%;
    background-color: rgb(126, 145, 209);
    height: 75vh;
    padding-left: 100px;
    margin-top: -20px;
}
.planprogrami-right h3,a{
    font-family: monospace;
}
.planprogrami-right h3,a{
    font-size: 20px;
}
.planprogrami-right h2{
    padding-top: 130px;
    font-family: "sequel 85";
}
.planprogrami-right img{
    float: left;
}
.meshume:hover{
    color: rgb(41, 163, 41);
    text-decoration: none;
}
.activities{
   display: flex;
   justify-content: space-evenly;
   align-items:flex-start ;
   height: 30vh;
   background-color: blanchedalmond;
}
.head-activities{
    background-color: blanchedalmond;
    margin-top: -30px;
    margin-bottom: -30px;
}
.head-activities h3{
    font-family: "sequel 85";
    text-align: center;
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 100px;
}
.activities img{
    width: 10%;
    padding-left: 20px;
}
.activities-headings{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start ;
    background-color: blanchedalmond;
    font-size: 26px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .activities-content{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start ;
    background-color: blanchedalmond;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .activities-content h6{
    width: 20%;
    padding-left: 30px;
 }
 @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
