@font-face {
    font-family: 'sequel 85';
    src: url('C:\\Users\\hp\\Desktop\\Professional-IT-School-1\\fonts\\Sequel100Black-85.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
}
.imgcontent{
    margin-top: 80px;
}
.imgcontent img{
    width: 100%;
}
.text-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.text-container h1{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:white;
    font-family: "sequel 85";
    font-size: 48px;
    margin-top: -450px;
    margin-left: 80px;
}
#description{
    font-size: 21px;
    font-family: monospace;
    font-weight: bold;
    color: white;
    margin-left: 80px;
    margin-top: -380px;
}
.text{
    background-color: darkblue;
    margin-top: -25px;
    width: 50%;
}
.text p{
    
    font-family: monospace;
    padding-left: 60px;
    padding-right: 50px;
    color: white;
    line-height: 1.5;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.headings{
    background-color: darkblue;
    margin-top: -25px;
    width: 50%;
    float: right;
    margin-top: -900px;

}
.headings h1{
    font-family: "sequel 85";
    font-size: 40px;
    padding-bottom: 50px;
    padding-top: 33px;
    padding-left: 40px;

}
.container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: beige;
    height: 940px;
}
.content{
    margin-top: 100px;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    width: 30%;
    height: 500px;
    margin-bottom: 100px;
}
.content h1{
    font-family: monospace;
    padding-top: 20px;
    height: 80px;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}
.content p{
    font-family: monospace;
    font-size:16px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.6;
}
#firstTitle{
    background-color: green;
}

#secondTitle{
    background-color: yellow;
}

#thirdTitle{
    background-color: rgb(223, 60, 87);
}
.content #firstButton{
    background-color: green;
    text-align: center;
    padding: 18px 18px;
    border: none;
    font-size: 16px;
    font-family: monospace;
    cursor: pointer;
    color: white;
    margin-top: 40px;
    margin-left: 120px;
}
.content #firstButton:hover{
    background-color: white;
    color: rgb(41, 163, 41);
    border: solid 2px rgb(41, 163, 41);
}
.content #secondButton{
    background-color: yellow;
    text-align: center;
    padding: 18px 18px;
    border: none;
    font-size: 16px;
    font-family: monospace;
    cursor: pointer;
    color: white;
    margin-top: 40px;
    margin-left: 120px;
}
.content #secondButton:hover{
    background-color: white;
    color: yellow;
    border: solid 2px yellow;
}
.content #thirdButton{
    background-color:  rgb(223, 60, 87);
    text-align: center;
    padding: 18px 18px;
    border: none;
    font-size: 16px;
    font-family: monospace;
    cursor: pointer;
    color: white;
    margin-top: 40px;
    margin-left: 120px;
}
.content #thirdButton:hover{
    background-color: white;
    color: rgb(223, 60, 87);
    border: solid 2px rgb(223, 60, 87);
}

